<div class="container1">

    <div class="section box">
        <form action="create_account" method="post">
            <p class="h1">Handle item</p><br>
            Product name<input type="text" name="newProductName"><br>
            img url<input type="text" name="newProductImageUrl"><input type="button" value="upload" name="newProductImageUploadButton"><br>
            Product description<input type="text-area" name="newProductDescription"><br>
            <input type="button" value="create product" name="newProductAddButton">
        </form>
    </div>
    
</div>