
<div class="container">
    <div class="section box">
        <p>Items in your basket:</p><br>
        <p>{{basket.orderStatus}}</p>
        <ul>
            {{#each basket.producId}} <!-- Show all products in basket -->
                <li> 
                    <p>Item: {{productName}}</p> 
                    <p>price: {{productPrice}}</p>
                    <a class="button is-primary is-rounded">Remove item</a>
                </li>
            {{/each}}
        </ul>
        <a class="button is-primary is-rounded">Empty basket</a>
    </div>
</div>