
<div class="container">
    <div class="section box">

        {{#if message}}
                <p>{{message}}</p>
        {{else}}
            <p>Items in your basket:</p><br>
            <ul>
                {{#each products}} <!-- Show all products in basket -->
                    <li> 
                        <p>Item: {{this.name}}, price: {{this.price}} 
                            <a href="/orders/removeItemFromBasket">Remove item</a>
                        </p>
                    </li>
                {{/each}}
            </ul>
            <a href="/orders/emptyBasket" class="button is-primary is-rounded">Empty basket</a>
        {{/if}}
    </div>
</div>