
<div class="container1">
    <div class="section box">
        <p>Items in your basket:</p><br>
        <ul>
            {{#each order.producId}} <!-- Show all products in basket -->
            <li> {{productName}}, {{productPrice}} </li>
            {{/each}}
        </ul>
    </div>
</div>