
<div class="container0">
    <h1 class="title has-text-centered">Ambigous shop</h1>

    <div class="video-container">
        <video autoplay loop muted>
            <source src="video2.mp4" type="video/mp4">
        </video>
    </div> 
</div>
