{{> displayProduct}}
<div class="buttons">
    <a class="button is-primary is-rounded">Add to basket</a>
    <a href="/selection" class="button is-primary is-rounded">Continue shopping</a>
</div>
        