
<div class="container1">
    {{#if isLoggedIn}}<!-- IF LOGGED IN -->
        <div class="selection box">
            <p>Welcome (username)</p><br>
            <p>namn: </p>
            <p>email: </p>
            <p>adress: </p>

            <form action="changePassword">
                new pass: <input type="text" name="changePassword"><br>
            repeat new pass:  <input type="text" name="repeatChangePassword"><br>
            <input type="button" value="change password" name="changePasswordButton">
            </form>
        
            <div>
                <p>old orders:</p>
                <ul>
                    {{#each orders}}
                        <li>Order: {{orderId}}
                            {{#each droducts}}
                                <li>Item: {{productId}}</li>
                            {{/each}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    
    {{else}} <!-- IF NOT LOGGED IN -->
        <div class="section box">
            <form action="login" method="get">
                <p>login</p><br>
                name<input type="text" name="username"><br>
                pass<input type="text" name="password"><br>
                <input type="button" value="login" name="loginButton">
                <input type="button" value="forgot password" name="forgotPasswordButton">
            </form>
        </div>

        <div class="section box">
            <form action="create_account" method="post">
                <p>Create new account</p><br>
                email<input type="text" name="email"><br>   
                full name<input type="text" name="fullName"><br>
                password<input type="text" name="password"><br>
                repeat password<input type="text" name="repeatPassword"><br>
                street adress<input type="text" name="adress"><br>
                postal code<input type="text" name="postalCode"><br>
                <input type="button" value="create" name="createAccountButton">
            </form>
        </div>

    {{/if}}
</div>
