
<div class="container1">
    <div class="section">
        
        {{#if isLoggedInAsAdmin}} <!-- only available to admin -->
            <a href="/addProduct" class="button is-primary is-rounded">Add product</a>
        {{/if}}

        <div class="tile is-ancestor">
           
            <!-- Create one for each product in database -->
            {{#each product}}
                {{> displayProducts}}
            {{/each}}

            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Foo</p>
                    <p class="subtitle">Bar</p>
                    <div class="buttons">
                        <a class="button is-primary is-rounded">View</a>
                        <a href="/updateItem" class="button is-primary is-rounded">Update</a>
                        <a class="button is-primary is-rounded">Delete</a>
                    </div>
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/640x480.png">
                    </figure>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Foo</p>
                    <p class="subtitle">Bar</p>
                    <div class="buttons">
                        <a class="button is-primary is-rounded">View</a>
                        <a href="/updateItem" class="button is-primary is-rounded">Update</a>
                        <a class="button is-primary is-rounded">Delete</a>
                    </div>
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/640x480.png">
                    </figure>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Third column</p>
                    <p class="subtitle">With some content</p>
                    <div class="buttons">
                        <a class="button is-primary is-rounded">View</a>
                        <a href="/updateItem" class="button is-primary is-rounded">Update</a>
                        <a class="button is-primary is-rounded">Delete</a>
                    </div>
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/640x480.png">
                    </figure>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Hello World</p>
                    <p class="subtitle">What is up?</p>
                    <div class="buttons">
                        <a class="button is-primary is-rounded">View</a>
                        <a href="/updateItem" class="button is-primary is-rounded">Update</a>
                        <a class="button is-primary is-rounded">Delete</a>
                    </div>
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/640x480.png">
                    </figure>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Foo</p>
                    <p class="subtitle">Bar</p>
                    <div class="buttons">
                        <a class="button is-primary is-rounded">View</a>
                        <a href="/updateItem" class="button is-primary is-rounded">Update</a>
                        <a class="button is-primary is-rounded">Delete</a>
                    </div>
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/640x480.png">
                    </figure>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Third column</p>
                    <p class="subtitle">With some content</p>
                    <div class="buttons">
                        <a class="button is-primary is-rounded">View</a>
                        <a href="/updateItem" class="button is-primary is-rounded">Update</a>
                        <a class="button is-primary is-rounded">Delete</a>
                    </div>
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/640x480.png">
                    </figure>
                </article>
            </div>
        </div>
    
    </div>
</div>

