
<div class="container1">
    <div class="section">
        
        {{#if isLoggedInAsAdmin}} <!-- only available to admin -->
            <div>
                <a href="/products/addProduct" class="button is-primary is-rounded">Add product</a>
            </div><br>
        {{/if}}
        <div class="tile is-ancestor">
            <!-- Create one for each product in database -->
            {{#each products}}
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">{{productName}}</p>
                        <p class="subtitle">{{productPrice}}</p>
                        <a href="/products/productDetails/{{productId}}" class="button is-primary is-rounded">View</a>
                        <figure class="image is-4by3">
                            <img src="/uploads/{{productImage}}">
                        </figure>
                    </article>
                </div><br><br>
            {{/each}}
        </div>
    </div>
</div>

